@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;
//swiper
.swiper-parent {
  position: relative;

//制作実績＆ブログ共通
  .swiper-container {
      position: relative;

    .swiper-wrapper {

      .swiper-slide {
        height: auto;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      width: rem(40);
      height: rem(40);
      background-size: cover;
      z-index: 4;
      margin: 0;
      @include mq(xl) {
        width: rem(30);
        height: rem(30);
      }
      &:hover {
        opacity: 0.65;
      }
    }
    .swiper-button-next {
      background-image: url(images/btn_swiper-next.svg);
      @include mq(xl) {
        right: 0;
      }
    }
    .swiper-button-prev {
      background-image: url(images/btn_swiper-prev.svg);
      @include mq(xl) {
        left: 0;
      }
    }
    .swiper-pagination1 {
      z-index: 1;
      text-align: center;
      position: absolute;
      bottom: rem(-5);
      @include mq(m) {
        bottom: 0;
      }
    }
    //ブログ固有
    &.slider1,
    &.slider2 {
      img {
        height: rem(189);
        @include mq(xl) {
          height: calc(((90vw - 60px * 2) / 3) * 0.525);
        }
        @include mq(l) {
          height: calc(((90vw - 22px * 2) / 3) * 0.525);
        }
        @include mq(s) {
          height: calc(((90vw - 22px) / 2) * 0.525);
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        top: calc(95px - 40px / 2);
        @include mq(xl) {
          top: calc(((90vw - 25px * 2) / 3) * 0.525 / 2 - 30px / 2);
        }
        @include mq(m) {
          top: calc(((90vw - 12px) / 2) * 0.525 / 2 - 30px / 2);
        }
      }
    }
  }
}
.slider3 {
  margin-top: rem(-70);
  .swiper-wrapper {
    transition-timing-function: linear;
    // display: flex;
    align-items: center;
    /* 画像のサイズ調整 */
    .swiper-slide {
      img {
        height: auto;
      }
      &.item-01 {
        img {
          width: rem(74);
        }
      }
      &.item-02 {
        img {
          width: rem(82);
        }
      }
      &.item-03 {
        img {
          width: rem(42);
        }
      }
      &.item-04 {
        img {
          width: rem(42);
        }
      }
      &.item-05 {
        img {
          width: rem(72);
        }
      }
      &.item-06 {
        img {
          width: rem(64);
        }
      }
      &.item-07 {
        img {
          width: rem(22);
        }
      }
      &.item-08 {
        img {
          width: rem(63);
        }
      }
      &.item-09 {
        img {
          width: rem(33);
        }
      }
      &.item-10 {
        img {
          width: rem(74);
        }
      }
    }
  }
}
