@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;
@use "../mixin/animation" as *;

// ■■■■■■フッター■■■■■■■
.footer-area {
  width: 100%;
  height: auto;
  background-color: $color-blue-01;
  .footer-area__inner {
    width: $width-base;
    height: auto;
    padding: rem(90) 0 rem(30);
    margin: 0 auto;
    @include mq(xl) {
      width: 90%;
    }
    .footer-column {
      color: $color-white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: rem(90);
      @include mq(l) {
        display: block;
        text-align: center;
        margin-bottom: rem(50);
      }
      .column__inner {
        width: 40%;
        @include mq(l) {
          width: 100%;
          margin-bottom: rem(50);
        }
        &:last-child{
          flex: 1;
          margin-right: calc(50% - 50vw);
          margin-left: auto;
          @include mq(m) {
            width: 105%;
          }
        }
        .footer-logo{
          max-width: 160px;
          margin-bottom: rem(50);
          @include mq(l) {
            margin: 0 auto rem(50);
          }
          a{
            display: block;
          }
        }
        .footer-map{
          position: relative;
          width: 100%;
          padding-top: 35%;
          @include mq(xl) {
            padding-top: 55%;
          }
          @include mq(m) {
            padding-top: 80% !important;
          }
          iframe{
            position: absolute;
            top: 0;
            right: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }
    .footer-nav {
      width: 100%;
      margin-bottom: rem(90);
      @include mq(s) {
        margin-bottom: rem(50);
      }
      @include mq(s) {
        display: block;
        text-align: center;
      }
      .footer-nav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include mq(s) {
          display: block;
          text-align: center;
        }
        li {
          a {
            display: block;
            padding: rem(10) rem(20);
            border-bottom: 2px solid $color-blue-01;
            color: $color-white;
            font-weight: 700;
            text-decoration: none;
            transition:0.8s;
            @include mq(m) {
              border: none;
            }
            &:hover{
              border-color: $color-white;
            }
          }
        }
      }
    }
    .copyrights {
      color: $color-white;
    }
  }
}
