@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;


// ■■■■■■ヘッダー■■■■■■■
.header-area {
  background: $color-white;
  width: 100%;
  position: fixed;
  z-index: 3;
  .header-area__inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .header-logo-area {
      display: flex;
      align-items: center;
      margin: 0 rem(40);
      @include mq(l) {
        padding: rem(15) rem(18);
        margin: 0;
      }
      a {
        line-height: 1;
        display: block;
        img {
          height: rem(30);
          @include mq(s) {
            height: rem(26);
          }
        }
      }
    }
    // ▼▼ヘッダーナビゲーションエリア
    .header-nav-area {
      padding: 0;
      display: flex;
      justify-content: right;
      width: 100%;

      //PC用ナビ
      .header-nav {
        @include mq(l) {
          display: none;
        }
        @include mq(m) {
          padding: 0;
        }
        &.panelactive {
          top: rem(70);
          transition: all 0.6s;

          @include mq(m) {
            overflow-y: scroll;
          }
        }

        .header-nav__list {
          display: flex;
          height: 100%;
          @include mq(m) {
            width: 90%;
            margin: 0 auto;
          }
          li {
            margin: rem(15) 0;
            a {
              margin: 0 auto;
              padding: rem(10) rem(20);
              color: $color-blue-01;
              font-weight: 700;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              @include mq(l) {
                padding-top: rem(25);
                padding-left: rem(130);
              }
              @include mq(m) {
                width: 80%;
                font-size: rem(30);
                padding-top: rem(15);
                padding-left: 40%;
              }
            }
            &:not(:last-child) {
              a {
                position: relative;
                text-decoration: none;
                transition: all 0.8s ease-out;
                border-bottom: 2px solid $color-white;
                &:hover {
                  opacity: 1;
                  border-color: $color-blue-02;
                }
              }
            }
            &:last-child {
              margin: 0 0 0 rem(30);
              a {
                color: $color-white;
                background-color: $color-blue-01;
                text-decoration: none;
                border-radius: 0;
                padding: rem(10) rem(40);
                transition: all 0.8s ease-out;
                &:before{
                  content: "";
                  display: inline-block;
                  background: url("../icon_contact.svg") center/contain no-repeat;
                  vertical-align: middle;
                  width: rem(26);
                  height: rem(20);
                  margin-right: rem(10);

                  content: "\f0e0";
                  font-family: fontawesome;
                  font-size: rem(26);
                  line-height: 1;
                }
                &:hover{
                  background: $color-orange-01;
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      // ▼ハンバーガーメニュー（SP用）
      .hamburger-menu {
        display: none;
        @include mq(l) {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: rem(10) rem(18);
          &:hover {
            span {
              background-color: $color-blue-01;
            }
          }
        }
        .openbtn1 {
          position: relative;
          width: rem(30);
          height: rem(22);
          border-radius: 5px;
          cursor: pointer;
          span {
            display: inline-block;
            transition: all 0.4s;
            /*アニメーションの設定*/
            position: absolute;
            height: rem(3);
            border-radius: 1px;
            background: $color-blue-01;
            width: 100%;
            z-index: 15;
            @include mq(m) {
              height: rem(4);
            }
            &:nth-of-type(1) {
              top: 0;
            }
            &:nth-of-type(2) {
              top: calc(50% - rem(1.5));
              @include mq(m) {
                top: calc(50% - rem(2));
              }
            }
            &:nth-of-type(3) {
              bottom: 0;
            }
          }
          &.active {
            span {
              background-color: $color-white;
              @include mq(m) {
                height: rem(5);
              }
              &:nth-of-type(1) {
                top: rem(-12);
                transform: translateY(rem(22.5)) rotate(-45deg);
                width: 100%;
                @include mq(m) {
                  top: rem(-9);
                  left: rem(-3);
                  width: 120%;
                }
              }
              &:nth-of-type(2) {
                opacity: 0;
                /*真ん中の線は透過*/
              }

              &:nth-of-type(3) {
                top: rem(-12);
                transform: translateY(rem(22.5)) rotate(45deg);
                width: 100%;
                @include mq(m) {
                  top: rem(-9);
                  left: rem(-3);
                  width: 120%;
                }
              }
            }
            &:hover {
              span {
                background-color: $color-white;
              }
            }
          }
        }
      }
      //スマホ用ナビ
      .sp-menu__wrapper {
        display: none;
        position: fixed;
        z-index: 3;
        /*ナビのスタート位置と形状*/
        background-color: $color-blue-01;
        top: 0;
        right: -120vw;
        width: fit-content;
        height: 100vh;
        transition: all 0.6s;
        z-index: 10;
        padding: rem(80) rem(50) rem(50);
        @include mq(l) {
          display: block;
        }
        @include mq(m) {
          width: 100%;
        }
        &.panelactive {
          transition: all 0.6s;
          right: 0;
          @include mq(m) {
            overflow-y: scroll;
          }
        }
        .header-sp-nav {
          width: 100%;
          .header-sp-nav__list {
            li {
              a {
                display: block;
                color: $color-white;
                font-weight: 700;
                text-align: center;
                padding: rem(20);
                border-bottom: 1px solid $color-white;
              }
            }
          }
        }
      }
    }
  }
}
