@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;


// ■■■■■■ヘッダー■■■■■■■
.header-area {
    width: 100vw;
    height: rem(110);
    position: fixed;
    z-index: 3;
    .header-area__inner {
        width: calc(100% - rem(40));
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(xl) {
            width: calc(100% - rem(20));
            margin: 0 auto;
            padding: rem(10) 0;
        }
        .header-logo-area {
            a {
                img {
                    display: block;
                    height: rem(50);
                    width: auto;
                    box-sizing: content-box;
                    padding: rem(10) 0;
                    @include mq(xl) {
                        padding: 0;
                    }
                    @include mq(s) {
                        height: rem(40);
                    }
                }
            }
        }
        // ▼▼ヘッダーナビゲーションエリア
        .header-nav-area {
            padding: 0;
            display: flex;
            justify-content: right;
            width: 100%;
            // align-items: center;
            // column-gap: rem(20);

            // // ▼インスタボタン
            // .link-instagram {
            //   a {
            //     img {
            //       display: block;
            //       width: rem(30);
            //       height: rem(30);
            //       box-sizing: content-box;
            //       padding: rem(5);
            //       @include mq(xl) {
            //         padding: 0;
            //       }
            //       @include mq(m) {
            //         width: rem(40);
            //         height: rem(40);
            //       }
            //       &:hover {
            //         opacity: 0.85;
            //       }
            //     }
            //   }
            // }
            
            //PC用ナビ
            .header-nav {
                @include mq(xl) {
                    display: none;
                }
                @include mq(m) {
                    padding: 0;
                }
                &.panelactive {
                    top: rem(70);
                    transition: all 0.6s;
                    // animation: fadeIn 0.3s ease-in 0s forwards;

                    @include mq(m) {
                    overflow-y: scroll;
                    }
                }

                .header-nav__list {
                    display: flex;
                    align-items: center;
                    height: auto;
                    @include mq(m) {
                        width: 90%;
                        margin: 0 auto;
                    }
                    li {
                        @include mq(m) {
                            margin-top: rem(10);
                        }
                        a {
                            margin: 0 auto;
                            padding: rem(10) rem(15);
                            display: block;
                            color: $color-black-main;
                            font-weight: 700;
                            @include mq(xl) {
                                padding-top: rem(25);
                                padding-left: rem(130);
                            }
                            @include mq(m) {
                                width: 80%;
                                font-size: rem(30);
                                padding-top: rem(15);
                                padding-left: 40%;
                            }
                        }
                        &:not(:last-child) {
                            a {
                                position: relative;
                                &:before,
                                &:after {
                                    content: '';
                                    width: 0;
                                    bottom: 0;
                                    transition: all 0.6s ease;
                                    border-bottom: 3px solid $color-base04;
                                    position: absolute;
                                    display: block;
                                }
                                &:before {
                                    left: 50%;
                                }
                                &:after {
                                    right: 50%;
                                }
                                &:hover {
                                    opacity: 1;
                                    &:before,
                                    &:after {
                                        width: 50%;
                                        border-bottom: 3px solid $color-base04;
                                    }
                                }
                            }
                        }
                        &:last-child {
                            margin-left: rem(15);
                            a {
                                background-color: $color-second-01;
                                color: #fff;
                                border-radius: 30px;
                                padding: rem(15) rem(40);
                            }
                        }
                    }
                }
            }

            // ▼ハンバーガーメニュー（SP用）
            .hamburger-menu {
                display: none;
                @include mq(xl) {
                    display: inline-block;
                    padding: rem(10);
                    &:hover {
                        span {
                        background-color: $color-base04;
                        }
                    }
                }
                .openbtn1 {
                    position: relative;
                    width: rem(30);
                    height: rem(22);
                    border-radius: 5px;
                    cursor: pointer;
                    span {
                        display: inline-block;
                        transition: all 0.4s;
                        /*アニメーションの設定*/
                        position: absolute;
                        height: rem(3);
                        border-radius: 1px;
                        background: $color-base01;
                        width: 100%;
                        z-index: 15;
                        @include mq(m) {
                            height: rem(4);
                        }
                        &:nth-of-type(1) {
                            top: 0;
                        }
                        &:nth-of-type(2) {
                            top: calc(50% - rem(1.5));
                            @include mq(m) {
                                top: calc(50% - rem(2));
                            }
                        }
                        &:nth-of-type(3) {
                            bottom: 0;
                        }
                    }
                    &.active {
                        span {
                            background-color: $color-white;
                            @include mq(m) {
                                height: rem(5);
                            }
                            &:nth-of-type(1) {
                                top: rem(-12);
                                transform: translateY(rem(22.5)) rotate(-45deg);
                                width: 100%;
                                @include mq(m) {
                                    top: rem(-9);
                                    left: rem(-3);
                                    width: 120%;
                                }
                            }
                            &:nth-of-type(2) {
                                opacity: 0;
                                /*真ん中の線は透過*/
                            }

                            &:nth-of-type(3) {
                                top: rem(-12);
                                transform: translateY(rem(22.5)) rotate(45deg);
                                width: 100%;
                                @include mq(m) {
                                    top: rem(-9);
                                    left: rem(-3);
                                    width: 120%;
                                }
                            }
                        }
                        &:hover {
                            span {
                                background-color: $color-base04;
                            }
                        }
                    }
                }
            }
            //スマホ用ナビ
            .sp-menu__wrapper {
                display: none;
                position: fixed;
                z-index: 3;
                /*ナビのスタート位置と形状*/
                background-color: $color-base03;
                top: 0;
                right: -120vw;
                width: fit-content;
                height: 100vh;
                transition: all 0.6s;
                z-index: 10;
                padding: rem(80) rem(50) rem(50);
                @include mq(xl) {
                    display: block;
                    }
                &.panelactive {
                    transition: all 0.6s;
                    right: 0;
                    @include mq(m) {
                        overflow-y: scroll;
                    }
                }
                .header-sp-nav {
                    width: fit-content;
                    .header-sp-nav__list {
                        li {
                            margin-top: rem(20);
                            @include mq(m) {
                                margin-top: rem(30);
                            }
                            a {
                                color: $color-white;
                                font-weight: 700;
                            }
                            &:not(:last-child) {
                                a {
                                    position: relative;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        display: inline-block;
                                        width: rem(35);
                                        height: 1px;
                                        background-color: $color-white;
                                    }
                                    &:before {
                                        left: rem(-50);
                                    }
                                }
                            }
                            &:last-child {
                                margin-top: rem(40);
                                a {
                                    background-color: $color-second-01;
                                    color: #fff;
                                    border-radius: 30px;
                                    padding: rem(15) rem(40);
                                }
                            }
                        }
                    }
                }
                .sns__list {
                    display: flex;
                    margin-top: rem(30);
                    margin-left: rem(-20);
                    a {
                        img {
                            height: rem(22);
                            width: auto;
                            padding: rem(20);
                            box-sizing: content-box;
                        }
                    }
                }
            }
        }
    }
    &.HeightMin {
        height: rem(74);
    }
}
