@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;


// ■■■■■■ヘッダー■■■■■■■
.header-area {
  width: 100%;
  position: fixed;
  z-index: 3;
  .header-area__inner {
    background: $color-white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include mq(l) {
      padding: rem(15) rem(18);
      position: relative;
      z-index: 10;
    }
    // ▼▼ヘッダーロゴ
    .header-logo-area {
      display: flex;
      align-items: center;
      margin: 0 rem(40);
      @include mq(l) {
        margin: 0;
      }
      a {
        line-height: 1;
        display: block;
        img {
          height: rem(30);
          @include mq(s) {
            height: rem(26);
          }
        }
      }
    }
    // ▼▼ヘッダーナビゲーションエリア
    .header-nav-area {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      position: relative;
      padding: 0;

      //PC用ナビ
      .header-nav {
        @include mq(l) {
          display: none;
        }
        .header-nav__list {
          display: flex;
          height: 100%;
          @include mq(m) {
            width: 90%;
            margin: 0 auto;
          }
          li {
            margin: rem(15) 0;
            a {
              margin: 0 auto;
              padding: rem(10) rem(20);
              color: $color-blue-01;
              text-decoration: none;
              font-weight: 700;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            }
            &:not(:last-child) {
              a {
                position: relative;
                transition:0.8s;
                border-bottom: 2px solid transparent;
                &:hover {
                  border-color: $color-blue-02;
                }
              }
            }
            &:last-child {
              margin: 0 0 0 rem(30);
              a {
                color: $color-white;
                background-color: $color-blue-01;
                text-decoration: none;
                border-radius: 0;
                padding: rem(10) rem(40);
                transition:0.8s;
                &:before{
                  content: "\f0e0";
                  font-family: fontawesome;
                  font-size: rem(26);
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: rem(10);
                }
                &:hover{
                  background: $color-orange-01;
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      // ▼ハンバーガーメニュー（SP用）
      .hamburger-menu {
        display: none;
        @include mq(l) {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
        .openbtn1 {
          position: relative;
          width: rem(30);
          height: rem(22);
          cursor: pointer;
          span {
            display: inline-block;
            transition: 0.8s;
            /*アニメーションの設定*/
            position: absolute;
            height: rem(3);
            border-radius: 20px;
            background: $color-blue-01;
            width: 100%;
            z-index: 15;
            &:nth-of-type(1) {
              top: 0;
            }
            &:nth-of-type(2) {
              top: calc(50% - rem(2));
            }
            &:nth-of-type(3) {
              bottom: 0;
            }
          }
          &.active {
            span {
              &:nth-of-type(1) {
                top: rem(-12);
                transform: translateY(rem(20)) rotate(-45deg);
                width: 100%;
                @include mq(m) {
                  top: rem(-9);
                  left: rem(-3);
                  width: 120%;
                }
              }
              &:nth-of-type(2) {
                opacity: 0;
                /*真ん中の線は透過*/
              }
              &:nth-of-type(3) {
                top: rem(-12);
                transform: translateY(rem(20)) rotate(45deg);
                width: 100%;
                @include mq(m) {
                  top: rem(-9);
                  left: rem(-3);
                  width: 120%;
                }
              }
            }
          }
        }
      }
    } 
  }
  //スマホ用ナビ
  .sp-menu__wrapper {
    width: 100%;
    display: none;
    position: fixed;
    opacity: 0;
    z-index: 3;
    /*ナビのスタート位置と形状*/
    background-color: $color-blue-01;
    top: 0;
    height: 100vh;
    transition:0.8s;
    padding: rem(80) rem(50) rem(50);
    @include mq(m) {
      width: 100%;
    }
    &.panelactive {
      display: block;
      transition:0.8s;
      opacity: 1;
    }
    .header-sp-nav {
      width: 100%;
      .header-sp-nav__list {
        li {
          a {
            display: block;
            color: $color-white;
            font-size: rem(16);
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: rem(20);
            border-bottom: 1px solid $color-white;
          }
        }
      }
    }
  }
}