@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;


// ■■■■■■ブログ用２カラム■■■■■■■
.postpage-box {
  width: 100%;
  height: auto;
  .postpage-box__inner {
    display: flex;
    justify-content: space-between;
    width: $width-base;
    margin: 0 auto;
    padding: rem(70) 0 rem(90);
    @include mq(xl) {
      width: 90%;
    }
    @include mq(l) {
      display: block;
    }
    .mainbar {
      width: calc(100% - rem(300) - rem(40));
      height: auto;
      @include mq(l) {
        width: 100%;
        // padding: rem(50) 0 rem(70);
      }
      .page-section {
        .page-section__inner {
          width: 100%;
          height: auto;
          margin: 0 auto;
          padding: 0;
        }
      }
    }
    .sidebar {
      width: rem(300);
      height: auto;
      @include mq(l) {
        width: 100%;
        margin: 0 auto;
        padding: rem(50) 0 rem(70);
      }
      .sidebar__inner {
        // height: rem(300);
        .sidebar-section {
          &:not(:first-of-type) {
            margin-top: rem(40);
          }
          .sidebar-section__inner {
            border-radius: 10px;
            &.no-border {
              border: none;
            }
            //タイトル
            .text_theme_s {
              &.title {
                background-color: $color-blue-02;
                padding: rem(15) rem(20);
                color: $color-white;
                border-radius: 10px 10px 0 0;
              }
            }
            //検索フォーム
            .search-form__wrapper {
              padding: rem(0) rem(20) rem(20);
              margin-top: rem(-10);
              background-color: $color-blue-02;
              border-radius: 0 0 10px 10px;
              .search-form {
                position: relative;
                display: flex;
                border-radius:5px;
                overflow: hidden;
                border: 1px solid $color-gray-04;
                position: relative;
                &:before{
                  content: "\f002";
                  font-family: fontawesome;
                  font-size: rem(15);
                  color: #666;
                  line-height: 1;
                  position: absolute;
                  top: 50%;
                  left: rem(10);
                  transform: translateY(-50%);
                  -ms-transform:translateY(-50%);
                  -webkit-transform:translateY(-50%);
                }
                input[type="submit"] {
                  width: rem(40);
                  height: rem(40);
                  background: url("../images/icon_search.svg") no-repeat center/20px;
                  border: none;
                  cursor: pointer;
                  background-color: $color-white;
                  
                }
                input[type="text"] {
                  width: 100%;
                  height: rem(40);
                  padding: 0 rem(5) 0 0;
                  background-color: $color-white;
                }
              }
            }
            //カテゴリー一覧
            .category__list {
              border-radius: 0 0 10px 10px;
              overflow: hidden;
              li {
                &:not(:first-of-type) {
                  border-top: solid 1px $color-gray-01;
                }
                a {
                  background: $color-gray-03;
                  display: block;
                  position: relative;
                  padding: rem(15) rem(50) rem(15) rem(20);
                  color: $color-black-main;
                  text-decoration: none;
                  &::before,
                  &::after {
                    content: "";
                    width: 8px;
                    height: 2px;
                    display: inline-block;
                    border-radius: 10px;
                    background-color: $color-black-main;
                    position: absolute;
                    right: rem(25);
                  }
                  &::before {
                    top: calc(50% - 3.5px);
                    transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                  }
                  &::after {
                    bottom: calc(50% - 3.5px);
                    transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                  }
                }
              }
            }
            //人気記事一覧
            .article__list {
              background-color: $color-gray-03;
              border-radius: 0 0 10px 10px;
              @include mq(l) {
                display: flex;
                flex-wrap: wrap;
              }
              @include mq(s) {
                display: block;
              }
              li {
                @include mq(l) {
                  width: calc(100% / 3);
                }
                @include mq(s) {
                  width: 100%;
                }
                &:not(:first-of-type) {
                  border-top: solid 1px $color-gray-01;
                }
                a {
                  display: block;
                  position: relative;
                  padding: rem(20) rem(20) rem(30);
                  color: $color-black-main;
                  text-decoration: none;
                  .mask {
                    background-color: $color-gray-02;
                    border-radius: 10px;
                    padding-top: 75%;
                    object-fit: contain;
                    margin-bottom: rem(10);
                    position: relative;
                    overflow: hidden;
                    >img {
                      width: 100%;
                      height: 100%;
                      max-width: none;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%) scale(1);
                      transition: all 0.3s;
                      object-fit: contain;
                    }
                  }
                  // &:hover {
                  //   .mask{
                  //     img{
                  //       transform: translate(-50%, -50%) scale(1.1);
                  //     }
                  //   }
                  // }
                }
              }
            }
          }
        }
      }
    }
  }
}
