@charset 'UTF-8';
//main
$color-black-main: #333333;
$color-gray01: #cccccc;
$color-gray02: #666666;
$color-gray03: #eeeeee;
$color-gray04: #f7f7f7;
$color-white: #fff;

$color-base01: #03638D;
$color-base02: #0D83A8;
$color-base03: #1289A1;
$color-base04: #59BFB9;
$color-base05: #C7E9E7;
$color-base06: #ECF7F7;
$color-second-01: #E99411;
$color-second-02: #F4A452;

$color-red: #FF7277;

//link
$link-color: $color-base01;
