@charset 'UTF-8';
//main
$color-black-main: #333333;
$color-darkgray: #777777;
$color-gray-01: #DDDDDD;
$color-gray-02: #EFEFEF;
$color-gray-03: #F8F8F8;
$color-gray-04: #CCCCCC;
$color-white: #fff;

$color-blue-01: #0159B0;
$color-blue-02: #026FD6;
$color-blue-03: #E5F2FE;
$color-turquoise-01:#03638D;

$color-orange-01: #FE9123;
$color-orange-02: #FFDDBC;

$color-red-01: #FE4647;

//link
$link-color: $color-blue-02;
