@charset 'UTF-8';

@use "../setting/color" as *;


// $font-family: 'Noto Sans Japanese', sans-serif;
$font-family: 'Zen Maru Gothic', sans-serif;
$font-en: 'Titillium Web', sans-serif;
$font-color: $color-black-main;
