@charset 'UTF-8';

@use "../foundation/base" as *;
@use "../mixin/breakpoint" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;

// ■■■■■■文字スタイル■■■■■■■

//text
.ta-center {
  text-align: center !important;
}
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right !important;
}
.text_theme_m {
  font-size: rem(19);
}
.text_theme_s {
  font-size: rem(16);
}
.text_theme_2s {
  font-size: rem(13);
}
.text_theme_3s {
  font-size: rem(11);
}
strong {
  font-weight: 700;
}
.super {
  vertical-align: super;
  font-size: 60%;
}

// top
.title_theme_top-view {
  color: $color-white;
  font-family: $font-en;
  font-size: rem(72);
  font-weight: 500;
  line-height: 1.8;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  @include mq(l) {
    font-size: rem(50);
  }
  @include mq(s) {
    font-size: rem(33);
  }
}
.text_theme_top-view {
  color: $color-white;
  font-size: rem(27);
  font-weight: 500;
  line-height: 1.8;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  @include mq(m) {
    font-size: rem(19);
  }
}

// title
.title__outer {
  position: relative;
}
.title_theme_l {
  color: $color-black-main;
  font-family: $font-en;
  font-size: rem(54);
  font-weight: 500;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  position: relative;
  @include mq(l) {
    font-size: rem(50);
  }
  @include mq(s) {
    font-size: rem(33);
  }
  span{
    display: block;
    font-size: rem(16);
    font-weight: 700;
  }
}
.title_theme_m {
  font-size: rem(33);
  font-weight: 700;
  margin: rem(30) 0 rem(20);
  position: relative;
  @include mq(s) {
    font-size: rem(24);
    margin: rem(30) 0 rem(10);
  }
  &.fontsize_l{
    font-size: rem(72);
    @include mq(l) {
      font-size: rem(50);
    }
    @include mq(s) {
      font-size: rem(33);
    }
  }
  &::before,
  &::after{
    content: "";
    border-bottom: 3px solid $color-second-01;
    margin: auto;
    position: absolute;
    left: 0;
    top: -10px;
    width: 36px;
  }
  &::after {
    border-bottom: 3px solid $color-gray02;
    left: 18px;
    width: 18px;
  }
  &.ta-center{
    &::before,
    &::after{
      right: 0;
    }
  }
  span{
    display: block;
    font-size: rem(13);
    font-weight: 400;
  }
}
.title_theme_s {
  font-size: rem(23);
  font-weight: 700;
  margin-bottom: rem(10);
}

.title_theme_2s {
  font-size: rem(19);
  font-weight: 700;
  margin-bottom: rem(10);
}

// bg
.bg-white{
  background-color: $color-white;
}
.bg-gray{
  background-color: $color-gray03;
}
.bg-skyblue{
  background-color: $color-base03;
}