@charset 'UTF-8';

@use "../foundation/base" as *;
@use "../mixin/breakpoint" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;

// ■■■■■■文字スタイル■■■■■■■

//text
.ta-center {
  text-align: center !important;
}
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right !important;
}
.text-j_5l {
  font-family: $font-family;
  font-size: rem(48);
  font-weight: 400;
  @include mq(m) {
    font-size: rem(33);
  }
}
.text-j_4l {
  font-family: $font-family;
  font-size: rem(39);
  font-weight: 400;
  @include mq(m) {
    font-size: rem(27);
  }
}
.text-j_3l {
  font-family: $font-family;
  font-size: rem(33);
  font-weight: 400;
}
.text-j_2l {
  font-family: $font-family;
  font-size: rem(27);
  font-weight: 400;
}
.text-j_l {
  font-family: $font-family;
  font-size: rem(23);
  font-weight: 400;
}
.text-j_m {
  font-family: $font-family;
  font-size: rem(19);
  font-weight: 400;
}
.text-j_s {
  font-family: $font-family;
  font-size: rem(16);
  font-weight: 400;
}
.text-j_2s {
  font-family: $font-family;
  font-size: rem(13);
  font-weight: 400;
}
.text-j_3s {
  font-family: $font-family;
  font-size: rem(11);
  font-weight: 400;
}
.text-e_5l {
  font-family: $font-en;
  font-size: rem(56);
  @include mq(m) {
    font-size: rem(33);
  }
}
.text-e_4l {
  font-family: $font-en;
  font-size: rem(54);
  @include mq(m) {
    font-size: rem(27);
  }
}
.text-e_3l {
  font-family: $font-en;
  font-size: rem(33);
  font-weight: 400;
}
.text-e_2l {
  font-family: $font-en;
  font-size: rem(27);
  font-weight: 400;
}
.text-e_l {
  font-family: $font-en;
  font-size: rem(23);
  font-weight: 400;
}
.text-e_m {
  font-family: $font-en;
  font-size: rem(19);
  font-weight: 400;
}
.text-e_s {
  font-family: $font-en;
  font-size: rem(16);
  font-weight: 400;
}
.text-e_2s {
  font-family: $font-en;
  font-size: rem(13);
  font-weight: 400;
}
.text-e_3s {
  font-family: $font-en;
  font-size: rem(11);
  font-weight: 400;
}
strong {
  font-weight: 700;
}
.super {
  vertical-align: super;
  font-size: 60%;
}

// top
.title-top-view {
  color: $color-white;
  font-family: $font-en;
  font-size: rem(72);
  font-weight: 500;
  line-height: 1.8;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  @include mq(l) {
    font-size: rem(50);
  }
  @include mq(s) {
    font-size: rem(33);
  }
}

// title
.title-j_5l {
  font-family: $font-family;
  font-size: rem(48);
  font-weight: 700;
  margin-bottom: rem(20);
  @include mq(m) {
    font-size: rem(33);
  }
}
.title-j_4l {
  font-family: $font-family;
  font-size: rem(39);
  font-weight: 700;
  margin-bottom: rem(20);
  @include mq(m) {
    font-size: rem(27);
  }
}
.title-j_3l {
  font-family: $font-family;
  font-size: rem(33);
  font-weight: 700;
  margin-bottom: rem(20);
}
.title-j_2l {
  font-family: $font-family;
  font-size: rem(27);
  font-weight: 700;
  margin-bottom: rem(20);
}
.title-j_l {
  font-family: $font-family;
  font-size: rem(23);
  font-weight: 700;
  margin-bottom: rem(20);
}
.title-j_m {
  font-family: $font-family;
  font-size: rem(19);
  font-weight: 700;
  margin-bottom: rem(20);
}
.title-j_s {
  font-family: $font-family;
  font-size: rem(16);
  font-weight: 700;
  margin-bottom: rem(20);
}
.title-j_2s {
  font-family: $font-family;
  font-size: rem(13);
  font-weight: 700;
  margin-bottom: rem(20);
}
.title-j_3s {
  font-family: $font-family;
  font-size: rem(11);
  font-weight: 700;
  margin-bottom: rem(20);
}
.title-e_5l {
  font-family: $font-en;
  font-size: rem(72);
  font-weight: 500;
  margin-bottom: rem(20);
  @include mq(l) {
    font-size: rem(54);
  }
  @include mq(m) {
    font-size: rem(33);
  }
}
.title-e_4l {
  font-family: $font-en;
  font-size: rem(54);
  font-weight: 500;
  margin-bottom: rem(20);
  @include mq(m) {
    font-size: rem(36);
  }
}
.title-e_3l {
  font-family: $font-en;
  font-size: rem(33);
  font-weight: 500;
  margin-bottom: rem(20);
}
.title-e_2l {
  font-family: $font-en;
  font-size: rem(27);
  font-weight: 500;
  margin-bottom: rem(20);
}
.title-e_l {
  font-family: $font-en;
  font-size: rem(23);
  font-weight: 500;
  margin-bottom: rem(20);
}
.title-e_m {
  font-family: $font-en;
  font-size: rem(19);
  font-weight: 500;
  margin-bottom: rem(20);
}
.title-e_s {
  font-family: $font-en;
  font-size: rem(16);
  font-weight: 500;
  margin-bottom: rem(20);
}
.title-e_2s {
  font-family: $font-en;
  font-size: rem(13);
  font-weight: 500;
  margin-bottom: rem(20);
}

// タイトル装飾
.title_twotone{
  padding-top: rem(10);
  margin: rem(50) 0;
  position: relative;
  &::before,
  &::after{
    content: "";
    border-bottom: 3px solid $color-orange-01;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
  }
  &::after {
    border-bottom: 3px solid $color-gray-01;
    left: 18px;
    width: 18px;
  }
  &.ta-center{
    &::before,
    &::after{
      right: 0;
    }
  }
  span{
    display: block;
    font-size: rem(13);
    font-weight: 400;
  }
}
.title_line{
  padding: rem(10);
  border-bottom: 1px solid $color-blue-02;
  span{
    color: $color-darkgray;
    margin-left: rem(20);
  }
}
.title__outer {
  position: relative;
}

// bg
.bg-white{
  background-color: $color-white;
}
.bg-gray{
  background-color: $color-gray-02;
}
.bg-skyblue{
  background-color: $color-blue-03;
}