@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//新着情報リストの基本表示
.news-container__list{
  a {
    display: block;
    text-decoration: none;
    padding: rem(20) 0 rem(10);
    border-bottom: 1px solid $color-gray-01;
    .contents-area {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: rem(10);
      .news-date{
        color: $color-darkgray;
        font-weight: 700;
        margin-right: rem(12);
      }
    }
    .news-title {
      color: $color-darkgray;
      transition:0.8s;
      margin-bottom: 0;
    }
  }
}

//ブログサムネイルリストの基本表示
.box-container {
  width: auto;
  height: 100%;
  a{
    color: $color-black-main;
    text-decoration: none;
    .mask {
      display: block;
      aspect-ratio: 3 / 2;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      img {
          width: 100%;
          height: 100%;
          max-width: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1);
          transition:0.8s;
          object-fit: cover;
      }
    }
    &:hover{
      .mask{
        img{
          // transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
  .contents-area {
    padding: rem(10) 0;
    .news-date{
      margin-right: rem(12);
    }
    .news-title {
      color: $color-black-main;
      font-weight: 700;
      padding-top: rem(10);
      transition:0.8s;
    }
  }
}


//記事一覧表示
.list-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: rem(30) rem(25);
  @include mq(m) {
    gap: rem(30) rem(12);
  }
  .list-box {
    width: calc((100% - rem(25)) / 2);
    height: auto;
    @include mq(m) {
      width: calc((90vw - rem(12)) / 2);
    }
    @include mq(s) {
      width: 100%;
    }
  }
}