@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//ボタンエリア
.btn-area {
  text-align: center;
  margin: rem(50) rem(0);
}

//ボタン
.btn {
  color: $color-white;
  background-color: $color-blue-01;
  display: inline-block;
  padding: rem(25) rem(45);
  width: rem(300);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 700;
  position: relative;
  @include mq(s) {
    width: 100%;
  }
  &:hover {
    opacity: 1;
    background-color: $color-orange-01;
  }
  &.btn-arrow{
    &:before{
      content: "\f105";
      font-family: fontawesome;
      font-size: rem(26);
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      right: rem(20);
      top: calc(50%);
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transition: all 0.8s ease-out;
    }
  }
  &.btn-white{
    color: $color-blue-01;
    background-color: $color-white;
    &::before{
      color: $color-blue-01;
    }
    &:hover {
      opacity: 1;
      color: $color-white;
      background-color: $color-orange-01;
      &::before{
        color: $color-white;
      }
    }
  }
}
