@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//ボタンエリア
.btn-area {
  text-align: center;
  margin: rem(60) rem(0);
  @include mq(s) {
    padding: 0 rem(20);
  }
}

//ボタン
.btn {
  color: $color-white;
  background-color: $color-base01;
  display: inline-block;
  padding: rem(25) rem(100);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 700;
  position: relative;
  transition: all 0.8s ease-out;
  @include mq(s) {
    width: 100%;
  }
  &:hover {
    opacity: 1;
    background-color: $color-second-01;
  }
  &.btn-arrow{
    &::before,
    &::after {
      content: "";
      width: 12px;
      height: 3px;
      display: inline-block;
      border-radius: 10px;
      background-color: $color-white;
      position: absolute;
      right: rem(25);
    }
    &::before {
      top: calc(50% - 5px);
      transform: rotate(45deg);
      -ms-transform:rotate(45deg);
      -webkit-transform:rotate(45deg);
    }
    &::after {
      bottom: calc(50% - 5px);
      transform: rotate(-45deg);
      -ms-transform:rotate(-45deg);
      -webkit-transform:rotate(-45deg);
    }
  }
  &.btn-white{
    color: $color-base01;
    background-color: $color-white;
    &::before,
    &::after {
      content: "";
      background-color: $color-base01;
    }
    &:hover {
      opacity: 1;
      color: $color-white;
      background-color: $color-second-01;
      &::before,
      &::after {
        content: "";
        background-color: $color-white;
      }
    }
  }
}
