@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//カテゴリー
.post-category {
  color: $color-white;
  background-color: $color-blue-01;
  display: inline-block;
  padding: rem(2) rem(8);
  border-radius: 5px;
  font-size: rem(11);
  font-weight: 700;
  &.news{
    color: $color-white;
    background-color: $color-darkgray;
  }
}

.category-box {
  text-align: center;
  margin: rem(50) 0;
  .category-box__list {
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    border: solid 3px $color-blue-02;
    border-radius: 10px;
    padding: rem(10) rem(30);
    @include mq(s) {
      padding: rem(10);
    }
    li {
      margin-right: rem(20);
      @include mq(s) {
        margin-right: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a {
        display: inline-block;
        .post-category {
          color: $color-blue-02;
          background-color: transparent;
          padding: rem(10);
          font-size: rem(16);
          font-weight: 400;
          @include mq(s) {
            font-size: rem(13);
          }
        }
      }
    }
  }
}
