@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//カテゴリー
.post-category {
  display: inline-block;
  padding: rem(2) rem(15);
  border-radius: 16px;
  background-color: $color-base05;
  color: $color-black-main;
  font-size: rem(12);
  font-weight: 700;
}

.category-box {
  text-align: center;
  padding-bottom: rem(40);
 .category-box__list {
   display: inline-flex;
   justify-content: center;
   list-style-type: none;
   padding: rem(20) rem(30) rem(16);
   border: solid 3px $color-black-main;
   border-radius: 10px;
   li {
     a {
       padding: 0 rem(10) rem(10) rem(10);
       color: $color-black-main;
       @include mq(s) {
         font-size: rem(12);
         padding: 0 rem(6) rem(10) rem(6);
       }
     }
   }
 }
}
