@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//コンテンツボックス
.contents-box {
    padding: rem(30);
    margin-bottom: rem(30);
    @include mq(m) {
        padding: rem(20);
    }
    &.radius{
        border-radius: rem(20);
    }
    &.middle {
        padding: rem(20);
    }
    &.small {
        padding: rem(15);
    }
    &.box-line {
        border: solid 1px $color-base03;
    }
}
.images-box {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}
