@charset 'UTF-8';

@use "../foundation/base" as *;
@use "../mixin/breakpoint" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;

//コンテンツボックス
.contents-box {
    margin: rem(30) 0;
    @include mq(m) {
        margin: rem(20) 0;
    }
}

// toc-box
.toc-box{
  width: fit-content;
  border: 1px solid $color-blue-02;
  border-radius: 10px;
  padding: rem(30);
  margin: rem(50) 0;
  @include mq(s) {
    display: block;
  }
}

//bg_box
.bg_box{
  width: fit-content;
  background-color: $color-blue-03;
  border-radius: 10px;
  padding: rem(30) rem(50) rem(30) rem(30);
  margin-bottom: rem(25);
  @include mq(s) {
    display: block;
  }
}

//column-box
.column-box{
  position: relative;
  padding-top: rem(60);
  @include mq(l) {
    padding-top: rem(150);
  }
  @include mq(m) {
    padding-top: rem(0);
  }
  > .column__pht {
    width: 50%;
    max-width: 600px;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include mq(l) {
      width: 100%;
    }
    @include mq(m) {
      width: 80%;
      position: relative;
    }
  }
  > .column__txt {
    width: 70%;
    background: rgba($color: $color-gray-03, $alpha: 0.7);
    border-radius: 10px;
    padding: rem(70);
    margin-left: auto;
    position: relative;
    z-index: 2;
    @include mq(m) {
      width: 90%;
      margin-top: rem(-100);
    }
    @include mq(s) {
      padding: rem(40);
    }
    .title-j_m{
      margin-top: 0;
    }
  }
  &.order-change {
    >.column__pht {
      left: auto;
      right: 0;
      border-radius: 10px 0 0 10px;
      @include mq(m) {
        margin-left: auto;
      }
    }
    > .column__txt {
      margin-left: 0;
    }
  }
  .mask {
    background-color: $color-gray-02;
    padding-top: 67%;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    >img {
      width: 100%;
      height: 100%;
      max-width: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.7s;
      object-fit: cover;
    }
  }
}