@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//フォームスタイル
.contact-form {
  width: rem(860);
  height: auto;
  margin: 0 auto;
  @include mq(xl) {
    padding: 0 rem(30) rem(15);
    width: 100%;
  }
  @include mq(s) {
    padding: 0 rem(5) rem(30);
    width: 100%;
  }
  >.text_theme_s {
    padding-bottom: rem(50);
    .red {
      color: $color-red;
    }
  }
  .contact7 {
    @include mq(m) {
      max-width: 100%;
    }
    dd {
      margin-left: 40%;
      margin: 0 0 rem(40) 0;
      input {
        width: 60%;
        background-color: $color-white;
        border: 1px solid $color-gray05;
        border-radius: 5px;
        font-size: rem(16);
        padding: rem(3) rem(10);
        @include mq(m) {
          width: 100%;
        }
      }
      textarea {
        width: 60%;
        background-color: $color-white;
        border: 1px solid $color-gray05;
        border-radius: 5px;
        font-size: rem(16);
        height: rem(180);
        padding: rem(4);
        @include mq(m) {
          width: 100%;
        }
      }
    }
    dt {
      float: left;
      clear: left;
      width: 40%;
      font-weight: bold;
      padding-right: rem(70);
      @include mq(m) {
        width: 100%;
      }
      @include mq(m) {
        padding: 0;
        margin-bottom: rem(10);
      }
    }

    // 必須
    .must {
      color: $color-white;
      background-color: $color-red;
      border-radius: 3px;
      font-size: rem(11);
      margin-left: rem(8);
      padding: rem(2) rem(6);
      @include mq(xl) {
        margin-left: rem(4);
      }
      @include mq(m) {
        margin-left: rem(8);
      }
    }
    .optional {
      display: none;
    }
  }
  .accept-text {
    margin: 0 auto !important;
    width: 100%;
    text-align: center;
    input {
      margin: rem(8) rem(5) 0 0;
    }
    .wpcf7-list-item-label {
      display: block;
      overflow: hidden;
    }
    a {
      text-decoration: underline;
    }
  }
  .btn_contact7 {
    padding-top: 40px;
    margin: 0 auto rem(20) !important;
    width: 100%;
    text-align: center;
    input {
      -webkit-appearance: none;
      color: $color-white;
      background-color: $color-base01;
      border: solid 1px $color-base01;
      display: inline-block;
      padding: rem(25) rem(100);
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      outline: none;
      font-size: rem(16);
      font-weight: 700;
      position: relative;
      transition: all 0.8s ease-out;
      @include mq(s) {
        width: 100%;
      }
      &:hover {
        opacity: 1;
        background-color: $color-second-01;
        border-color: $color-second-01;
      }
      &:not(:disabled) {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .recaptcha-text {
    font-size: rem(14);
    color: #bbb;
    text-align: center;
    @include mq(m) {
      font-size: rem(12);
    }
  }
}
