@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../mixin/breakpoint" as *;

//コンタクトバナー
.contact-section {
  background: url("../images/img_cta-01.webp") center/cover no-repeat;
  width: 100%;
  padding: rem(90) 0 rem(120);
  position: relative;
  @include mq(m) {
    padding: rem(90) 0;
  }
  &:after {
    content:'';
    background-color: rgba(#000, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .contact-section__inner {
    color: $color-white;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    @include mq(xl) {
      padding: 0;
    }
    @include mq(m) {
      display: block;
      text-align: center;
    }
    >div{
      flex: 1;
    }
    .title-e_5l{
      @include mq(m) {
        text-align: center;
        &::before,
        &::after{
          right: 0;
        }
      }
      span{
        display: block;
      }
    }
    .btn-area{
      text-align: right;
      margin-bottom: 0;
      @include mq(m) {
        text-align: center;
      }
    }
  }
}
