@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;

//column
.column2,
.column3,
.column4 {
  display: flex;
  justify-content: space-between;
  &.no-break {
    @include mq(m) {
      display: flex;
    }
  }
  @include mq(m) {
    display: block;
  }
  .mask {
    display: block;
    aspect-ratio: 3 / 2;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition:0.8s;
        object-fit: cover;
    }
  }
}

// ▼▼▼２カラム▼▼▼
.column2 {
  &.r-48-48 {
    justify-content: center;
    column-gap: rem(50);
    >.column2__1,
    >.column2__2 {
      width: 48%;
      height: auto;
      padding: rem(20);
      @include mq(m) {
        width: 100%;
        padding: 0;
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(50);
        }
      }
    }
  }
  &.r-40-40 {
    justify-content: center;
    column-gap: rem(60);
    >.column2__1,
    >.column2__2 {
      width: 40%;
      height: auto;
      padding: rem(20);
      @include mq(xl) {

      }
      @include mq(m) {
        width: 100%;
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(50);
        }
      }
    }
  }
  &.r-30-60 {
    >.column2__1 {
      width: 30%;
      @include mq(m) {
        width: 100%;
      }
    }
    >.column2__2 {
      width: 60%;
      @include mq(m) {
        width: 100%;
        margin-top: rem(50);
      }
    }
    &:not(:first-of-type) {
      @include mq(m) {
        margin-top: rem(50);
      }
    }
  }
  &.r-40-50 {
    >.column2__1 {
      width: 40%;
      @include mq(m) {
        width: 100%;
      }
    }
    >.column2__2 {
      width: 50%;
      @include mq(m) {
        width: 100%;
        margin-top: rem(50);
      }
    }
  }
  &.order-change {
    >.column2__1 {
      order: 2;
      @include mq(m) {
        order: 0;
      }
    }
    >.column2__2 {
      order: 1;
    }
  }
  &.no-pad {
    >.column2__1,
    >.column2__2{
      padding: 0;
    }
  }

  &.about-us-boxes{
    >.column2__1,
    >.column2__2 {
      .mask {
        aspect-ratio: 3 / 4;
      }
      .about-us-txt{
        line-height: 2.4;
      }
    }
  }

  &.service-boxes {
    justify-content: center;
    column-gap: rem(72);
    >.column2__1,
    >.column2__2 {
      width: 48%;
      display: flex;
      flex-direction: column;
      @include mq(m) {
        width: 100%;
        margin: 0 auto;
      }
      .mask {
        margin-bottom: rem(20);
      }
    }
    >.column2__1 {
     
    }
    >.column2__2 {
      @include mq(m) {
        margin-top: rem(50);
      }
    }
  }
}
// ▼▼▼３カラム▼▼▼
.column3 {
  &.r-31-31-31 {
    >.column3__1,
    >.column3__2,
    >.column3__3 {
      width: 31%;
      height: auto;
      padding: rem(20);
      @include mq(l) {
        padding: rem(10);
      }
      @include mq(m) {
        width: 100%;
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(40);
        }
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
  &.no-pad {
    >.column3__1,
    >.column3__2,
    >.column3__3 {
      padding: 0;
    }
  }
}

// ▼▼▼４カラム▼▼▼
.column4 {
  &.r-22-22-22-22 {
    >.column4__1,
    >.column4__2,
    >.column4__3,
    >.column4__4 {
      width: 22%;
      height: auto;
      padding: rem(20);
      @include mq(xl) {

      }
      @include mq(m) {
        width: 100%;
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(50);
        }
      }
    }
  }
  &.no-pad {
    >.column4__1,
    >.column4__2,
    >.column4__3,
    >.column4__4 {
      padding: 0;
    }
  }
}

//フロー図
.flow-step__list {
  .flow-step__item {
    margin: 0 0 rem(50);
    position: relative;
    .steptitle {
      text-align: center;
      margin-bottom: rem(30);
      .stepcircle {
        width: rem(80);
        min-width: rem(80);
        height: rem(80);
        text-align: center;
        border-radius: 50%;
        color: $color-white;
        background-color: $color-blue-01;
        padding: rem(10);
        position: relative;
        z-index: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        >span {
          font-size: rem(13);
          font-weight: 700;
          display: block;
          .stepcircle_num {
            font-size: rem(27);
            display: inline-block;
          }
        }
        &:before{
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          border-top: 16px solid $color-blue-01;
          border-bottom: 0;
          position: absolute;
          top: 95%;
          left: 50%;
          transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
        }
      }
      .title-j_2s {
        margin-bottom: rem(15);
      }
    }
    .steptxt {
      text-align: left;
    }
  }

  //縦
  &.step-vertical{
    .flow-step__item {
      display: flex;
      align-items: flex-start;
      .steptitle {
        display: inline-flex;
        align-items: center;
      }
      .steptxt {
        padding-left: rem(75);
        @include mq(s) {
          padding-left: rem(20);
        }
      }
    }
  }
}

//私たちについて
.company__list{
  display: flex;
  flex-wrap: wrap;
  dt{
    width: rem(120);
    padding: rem(30) 0 rem(30) rem(20);
    border-bottom: 1px solid $color-gray-02;
    @include mq(m) {
      width: rem(80);
      padding-left: 0;
    }
  }
  dd{
    width: calc(100% - rem(120));
    padding: rem(30) rem(20);
    border-bottom: 1px solid $color-gray-02;
    @include mq(m) {
      width: calc(100% - rem(80));
    }
  }
}

//サービスページ
.service-menu__list {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(1000);
  margin: 0 auto;
  @include mq(xl) {
    width: 90%;
  }
  @include mq(m) {
    display: flex;
  }
  @include mq(s) {
    column-gap: normal;
    justify-content: space-between;
  }
  .service-menu__item {
    width: 24%;
    @include mq(l) {
      width: 48%;
      margin-bottom: rem(20);
    }
    @include mq(s) {
      width: 100%;
    }
    a {
      font-size: rem(16);
      font-weight: 700;
      letter-spacing: 0;
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      padding: rem(25) rem(40) rem(25) rem(30);
      border: 1px solid $color-blue-01;
      border-radius: 10px;
      transition:0.8s;
      @include mq(xl) {
        font-size: rem(15);
        padding: rem(25) rem(35) rem(25) rem(15);
      }
      &:hover{
        opacity: 1;
        background-color: $color-blue-03;
      }
      &::before,
      &::after {
        content: "";
        width: 14px;
        height: 3px;
        display: inline-block;
        border-radius: 10px;
        background-color: $color-blue-01;
        position: absolute;
        top: 50%;
      }
      &::before {
        right: 19px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      &::after {
        right: 10px;
        transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
  }
}

.service-reason__list {
  .service-reason__item {
    .service-reason__pht {
      display: block;
      aspect-ratio: 4 / 3;
      overflow: hidden;
      position: relative;
      margin: 0 rem(50);
      @include mq(m) {
        max-width: 200px;
        margin: 0 auto;
      }
      img {
					width: 80%;
					height: 80%;
					max-width: none;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(1);
          transition:0.8s;
					object-fit: cover;
      }
    }
    .service-reason__txt{
    }
  }
}
