@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;

//column
.column2,
.column3,
.column4 {
  display: flex;
  justify-content: space-between;
  &.no-break {
    @include mq(m) {
      display: flex;
    }
  }
  @include mq(m) {
    display: block;
  }
  &.pad-30 {
    padding: rem(30);
    @include mq(xl) {
      padding: rem(20);
    }
  }
}
// ▼▼▼２カラム▼▼▼
.column2 {
  &.tb-break {
    @include mq(l) {
      display: block;
    }
  }
  &.r-48-48 {
    justify-content: center;
    column-gap: rem(50);
    >.column2__1,
    >.column2__2 {
      width: 48%;
      height: auto;
      padding: rem(20);
      @include mq(m) {
        width: 100%;
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(50);
        }
      }
    }
  }
  &.r-30-30 {
    justify-content: center;
    column-gap: rem(60);
    >.column2__1,
    >.column2__2 {
      width: 30%;
      height: auto;
      padding: rem(20);
      @include mq(xl) {

      }
      @include mq(m) {
        width: 100%;
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(50);
        }
      }
    }
  }
  &.r-25-60 {
    >.column2__1 {
      width: 25%;
      @include mq(m) {
        width: 100%;
      }
    }
    >.column2__2 {
      width: 60%;
      @include mq(m) {
        width: 100%;
      }
    }
    &:not(:first-of-type) {
      margin-top: rem(40);
    }
  }
  &.r-30-60 {
    >.column2__1 {
      width: 30%;
      @include mq(m) {
        width: 100%;
      }
    }
    >.column2__2 {
      width: 60%;
      @include mq(m) {
        width: 100%;
      }
    }
    &:not(:first-of-type) {
      margin-top: rem(40);
    }
  }
  &.r-60-25 {
    >.column2__1 {
      width: 60%;
      @include mq(m) {
        width: 100%;
      }
    }
    >.column2__2 {
      width: 25%;
      img {
        width: 100%;
        height: auto;
      }
      @include mq(m) {
        width: 100%;
      }
    }
  }
  &.order-change {
    >.column2__1 {
      order: 2;
      @include mq(m) {
        order: 0;
      }
    }
    >.column2__2 {
      order: 1;
    }
  }
  &.no-pad {
    >.column2__1,
    >.column2__2{
      padding: 0;
    }
  }

  &.ceo-boxes{
    >.column2__1,
    >.column2__2 {
      .mask {
        padding-top: 130%;
      }
      .ceo-txt{
        line-height: 2.4;
      }
    }
  }
  &.company-boxes{
    >.column2__1,
    >.column2__2 {
      .mask {
        padding-top: 130%;
      }
    }
  }

  &.service-boxes {
    justify-content: center;
    column-gap: rem(72);
    >.column2__1,
    >.column2__2 {
      width: 48%;
      display: flex;
      flex-direction: column;
      @include mq(l) {
        width: 42%;
      }
      @include mq(s) {
        width: 90%;
        margin: 0 auto;
      }
      .mask {
        padding-top: 67%;
      }
    }
    >.column2__1 {
     
    }
    >.column2__2 {
      @include mq(s) {
        margin-top: rem(40);
      }
    }
  }

  .mask {
    background-color: $color-gray-02;
    border-radius: 10px;
    padding-top: 70%;
    object-fit: contain;
    margin-bottom: rem(20);
    position: relative;
    overflow: hidden;
    >img {
      width: 100%;
      height: 100%;
      max-width: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.3s;
      object-fit: cover;
    }
  }
}
// ▼▼▼３カラム▼▼▼
.column3 {
  &.r-31-31-31 {
    >.column3__1,
    >.column3__2,
    >.column3__3 {
      width: 31%;
      height: auto;
      padding: rem(20);
      @include mq(xl) {
        width: 32%;
      }
      @include mq(l) {
        padding: rem(20) rem(15);
      }
      @include mq(m) {
        width: 100%;
        padding: rem(20);
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(40);
        }
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
  &.no-pad {
    >.column3__1,
    >.column3__2,
    >.column3__3 {
      padding: 0;
    }
  }
}

// ▼▼▼４カラム▼▼▼
.column4 {
  &.r-22-22-22-22 {
    >.column4__1,
    >.column4__2,
    >.column4__3,
    >.column4__4 {
      width: 22%;
      height: auto;
      padding: rem(20);
      @include mq(xl) {

      }
      @include mq(m) {
        width: 100%;
      }
      &:not(:first-of-type) {
        @include mq(m) {
          margin-top: rem(50);
        }
      }
      .text_theme_2s-small {
        padding-bottom: rem(20);
      }
    }
  }
  &.no-pad {
    >.column4__1,
    >.column4__2,
    >.column4__3,
    >.column4__4 {
      padding: 0;
    }
  }
}

//フロー図
.flow-step__list {
  .flow-step__item {
    margin: 0 0 rem(50);
    position: relative;
    .steptitle {
      text-align: center;
      margin-bottom: rem(30);
      .stepcircle {
        width: rem(80);
        min-width: rem(80);
        height: rem(80);
        text-align: center;
        border-radius: 50%;
        color: $color-white;
        background-color: $color-blue-01;
        padding: rem(10);
        position: relative;
        z-index: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        >span {
          font-size: rem(13);
          font-weight: 700;
          display: block;
          .stepcircle_num {
            font-size: rem(27);
            display: inline-block;
          }
        }
        &:before{
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          border-top: 16px solid $color-blue-01;
          border-bottom: 0;
          position: absolute;
          top: 95%;
          left: 50%;
          transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
        }
      }
      .title-j_2s {
        margin-bottom: rem(15);
      }
    }
    .steptxt {
      text-align: left;
    }
  }

  //縦
  &.step-vertical{
    .flow-step__item {
      display: flex;
      align-items: flex-start;
      .steptitle {
        display: inline-flex;
        align-items: center;
      }
      .steptxt {
        padding-left: rem(75);
        @include mq(s) {
          padding-left: rem(20);
        }
      }
    }
  }
}

//私たちについて
.company__list{
  display: flex;
  flex-wrap: wrap;
  dt{
    width: 20%;
    padding: rem(30) rem(20);
    border-bottom: 1px solid $color-gray-02;
  }
  dd{
    width: 80%;
    padding: rem(30) rem(20);
    border-bottom: 1px solid $color-gray-02;
  }
}

//サービスページ
.service-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: rem(1000);
  margin: rem(50) auto;
  @include mq(xl) {
    width: 90%;
  }
  @include mq(s) {
    column-gap: normal;
    justify-content: space-between;
  }
  .service-menu__item {
    width: 24%;
    margin: 0 calc((100% - 24%*4)/3) rem(10) 0;
    &:nth-child(4n) {
      margin-right: 0;
    }
    @include mq(l) {
      width: 49%;
      margin: 0 calc(100% - 49%*2) rem(10) 0;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @include mq(s) {
      width: 100%;
      margin: 0 0 rem(10) !important;
    }
    a {
      font-size: rem(16);
      font-weight: 700;
      letter-spacing: 0;
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      padding: rem(25) rem(40) rem(25) rem(30);
      border: 1px solid $color-blue-01;
      border-radius: 10px;
      transition: all 0.8s ease-out;
      @include mq(xl) {
        font-size: rem(15);
        padding: rem(25) rem(35) rem(25) rem(15);
      }
      &:hover{
        opacity: 1;
        background-color: $color-blue-03;
      }
      &::before,
      &::after {
        content: "";
        width: 14px;
        height: 3px;
        display: inline-block;
        border-radius: 10px;
        background-color: $color-blue-01;
        position: absolute;
        top: 50%;
      }
      &::before {
        right: 19px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      &::after {
        right: 10px;
        transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
  }
}

.service-reason__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .service-reason__item {
    width: 32%;
    margin: 0 calc((100% - 32%*3)/2) rem(10) 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
    @include mq(s) {
      width: 100%;
      margin: 0 0 rem(10) !important;
    }
    .service-reason__pht {
      padding-top: 75%;
      object-fit: contain;
      margin-bottom:  rem(10);
      position: relative;
      overflow: hidden;
      max-width: rem(170);
      margin: 0 auto;
      >img {
        width: 100%;
        height: 100%;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transition: all 0.7s;
        object-fit: contain;
      }
    }
    .service-reason__txt{
    }
  }
}
