@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;

//column
.column {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    a {
        display: block;
    }
    &.col2 {
        > .column__inner {
            width: 49%;
            margin: 0 calc(100% - 49%*2) rem(10) 0;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        &.order-change {
            >.column__inner {
                order: 2;
                margin-right: 0;
                @include mq(m) {
                order: 0;
                }
            }
            >.column__inner:nth-child(2n) {
                margin-right: calc(100% - 49%*2);
                order: 1;
            }
        }
    }
    &.col3 {
        >.column__inner {
        width: 32%;
        margin: 0 calc((100% - 32%*3)/2) rem(10) 0;
        &:nth-child(3n) {
            margin-right: 0;
        }
        }
    }
    &.col4 {
        >.column__inner {
            width: 24%;
            margin: 0 calc((100% - 24%*4)/3) rem(10) 0;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
    &.col5 {
        >.column__inner {
            width: 19%;
            margin: 0 calc((100% - 19%*5)/4) rem(10) 0;
            &:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
    @include mq(m) {
        &.sp-col1 > .column__inner {
            width: 100% !important;
            margin-right: 0;
            margin-bottom: rem(10) !important;
        }

        &.sp-col2 > .column__inner {
            width: 47% !important;
            margin: 0 calc(100% - 47%*2) rem(10) 0 !important;
            &:nth-child(2n) {
                margin-right: 0 !important;
            }
        }
    }
    .mask {
        background: $color-gray03;
        border-radius: 20px;
        padding-top: 75%;
        object-fit: contain;
        margin-bottom:  rem(10);
        position: relative;
        overflow: hidden;
        >img {
            width: 100%;
            height: 100%;
            max-width: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: all 0.7s;
            object-fit: contain;
        }
    }
}

//フロー図
.flow-step-list {
    .flow-step__item {
        margin: 0 0 rem(20);
        padding-bottom: rem(20);
        position: relative;
        .steptitle {
            text-align: center;
            .stepcircle {
                display: inline-block;
                width: rem(60);
                min-width: rem(60);
                height: rem(60);
                text-align: center;
                border-radius: 50%;
                background-color: $color-base05;
                position: relative;
                z-index: 2;
                >span {
                font-size: rem(14);
                display: block;
                margin-top: rem(5);
                .stepcircle_num {
                    font-size: rem(24);
                    font-weight: 700;
                    display: block;
                    margin-top: rem(-15);
                }
                }
            }
            .title_theme_m {
                margin-bottom: rem(15);
            }
        }
        .steptxt {
            text-align: left;
        }
    }
    //縦
    &.step-vertical{
        .flow-step__item {
            .steptitle {
                display: inline-flex;
                align-items: center;
                .title_theme_m {
                margin-left: rem(20);
                padding-top: rem(15);
                padding-bottom: rem(15);
                @include mq(s) {
                    margin-left: rem(15);
                }
                }
            }
            .steptxt {
                padding-left: rem(80);
                @include mq(s) {
                padding-left: rem(50);
                }
            }
            &:before {
                content: "";
                width: 2px;
                height: 100%;
                background-color: $color-base05;
                position: absolute;
                top: rem(66);
                left: calc(rem(30) - 1px);
                z-index: 1;
            }
            &:last-child {
                &:before {
                content: none;
                }
            }
        }
    }
    //横
    &.step-side{
        display: flex;
        flex-wrap: wrap;
        .flow-step__item {
            &:before {
                content: "";
                background: $color-base05;
                width: 100%;
                height: 2px;
                position: absolute;
                top: rem(30);
                left: -50%;
                right: auto;
                z-index: -1;
            }
            &:first-child {
                &:before{
                content: none;
                }
            }
        }
        &.col2 {
            > .flow-step__item {
                width: 48%;
                margin: 0 calc(100% - 48%*2) rem(20) 0;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
        &.col3 {
            >.flow-step__item {
                width: 32%;
                margin: 0 calc((100% - 32%*3)/2) rem(20) 0;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
        &.col4 {
            >.flow-step__item {
                width: 24%;
                margin: 0 calc((100% - 24%*4)/3) rem(20) 0;
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }
        &.col5 {
            >.flow-step__item {
                width: 19%;
                margin: 0 calc((100% - 19%*5)/4) rem(20) 0;
                &:nth-child(5n) {
                    margin-right: 0;
                }
            }
        }

        @include mq(m) {
            &.sp-col1 > .flow-step__item {
                width: 100% !important;
                margin-right: 0;
                margin-bottom: rem(10) !important;
            }
            &.sp-col2 > .flow-step__item {
                width: 47% !important;
                margin: 0 calc(100% - 47%*2) rem(10) 0 !important;
                &:nth-child(2n) {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

//チェックリスト
.check__list {
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(40);
    padding-top: rem(20);
    li{
        position: relative;
        padding-left: rem(25);
        &:before{
            content: "";
            display: inline-block;
            background: url("../images/icon_checkmark.svg") center/contain no-repeat;
            position: absolute;
            top: rem(7);
            left: 0;
            width: rem(16);
            height: rem(12);
            }
        }
    }
    //サービスページ
    .service-menu__list {
        display: flex;
        justify-content: center;
        column-gap: rem(50);
        @include mq(s) {
            column-gap: normal;
            justify-content: space-between;
        }
        .service-menu__item {
            a {
                div {
                    display: block;
                    width: rem(120);
                    height: rem(120);
                    padding: rem(20);
                    background-color: $color-white;
                    border-radius: 50%;
                    position: relative;
                    @include mq(s) {
                    width: rem(84);
                    height: rem(84);
                    padding: rem(10);
                    }
                    img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    vertical-align: bottom;
                    -webkit-backface-visibility: hidden;
                    }
                }
                span {
                    font-weight: 700;
                    text-align: center;
                    display: block;
                    margin-top: rem(5);
                    @include mq(s) {
                    font-size: rem(12);
                    }
                    &:after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid $color-base01;
                    border-top: 2px solid $color-base01;
                    transform: translateX(5px) rotate(135deg);
                    margin-bottom: rem(3);
                    @include mq(s) {
                        margin-left: rem(-4);
                    }
                }
            }
        }
    }
}
