@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;

a {
  color: $link-color;
  font-weight: 700;
  text-decoration: underline;
  transition:0.8s;
  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

