@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../mixin/breakpoint" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;

//リスト
//disc__list
.disc__list {
    > li {
      list-style: none;
      text-indent: rem(-20);
      margin-left: rem(18);
      &::before{
        content: "・";
        margin-right: rem(5);
      }
    }
}
