@charset 'UTF-8';

@use "../foundation/base" as *;
@use "../mixin/breakpoint" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;


//ページネーション
.pagination-area {
  .pagination{
    margin: rem(40) 0 0;
    .nav-links{
      display: flex;
      justify-content: center;
      .page-numbers{
        font-family: $font-en;
        display: inline-block;
        margin-right: rem(20);
        padding: rem(5) rem(15);
        color: $color-turquoise-01;
        border-radius: 10px;
        border: 1px solid $color-turquoise-01;
        font-weight: 700;
        text-decoration: none;
        @include mq(m) {
          font-size: rem(14);
          padding: rem(3) rem(10);
          border-radius: 6px;
          margin-right: rem(12);
        }
        &.current{
          color: $color-turquoise-01;
          border: none;
        }
      }
    }
  }
}