@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;
//snsシェアボタン
// ▼追従型のsnsシェアボタン
.sns-btn-absolute {
    position: fixed;
    left: calc((100vw - $width-base) / 2 - 60px);
    top: rem(440);
    z-index: 6;
    @include mq(xl) {
        left: 1%;
    }
    @include mq(l) {
        display: none;
    }
    /* ボタン全体 */
    .flowbtn1{
        border-radius:50%;
        position:relative;
        display:inline-block;
        width: rem(40);
        height: rem(40);
        font-size: rem(24);
        color:#fff!important;
        text-decoration:none;
        transition:.5s;
        i {
            position:absolute;
            top: 50%;
            left: 50%;
            -ms-transform:translate(-50%,-50%);
            -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
        }
        &:hover {
            transform:translateY(-5px);
        }
    }
    .sns-list{
        padding:0!important;
        list-style:none!important;
        li {
            text-align:center !important;
            margin: rem(10);
        }
    }
    /* Twitter */
    .fl_tw1{
        background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
    }

    /* Facebook */
    .fl_fb1{
        background: linear-gradient(135deg, #6699ff 0%,#3b5998 100%);
    }
    /* はてブ */
    .fl_hb1{
        background: linear-gradient(to bottom, #1fbccd 0%, #1c91d4 84%);
        font-size:25px;
        img {
            width: rem(20);
            height: rem(17);
            margin: 0 auto rem(5);
        }
    }
    /* LINE */
    .fl_li1{
        background: linear-gradient(135deg, #3a9278 0%,#00c300 100%);
    }

}
// ▼コンテンツ中のsnsシェアボタン
.sns-btn-flex {
    margin-top: rem(40);
    .text_theme_s {
        padding-bottom: rem(10);
    }
    /* ボタン全体 */
    .flowbtn2{
        font-family:'Verdana',sans-serif;
        border-radius: 4px;
        position:relative;
        display:inline-block;
        width: calc(100% - 10px);
        font-size: 20px;
        color: #fff!important;
        text-decoration: none;
        margin-bottom: 10px;
        padding: rem(10) 0;
        span{
            font-size: rem(16);
            position:relative;
            left: rem(8);
            bottom: rem(2);
            transition: .6s;
            display: inline-block;
        }
        i {
            font-size: rem(22);
        }

        /* アイコンボタンホバー時 */
        &:hover {
            span {
                // transform: rotateX(360deg);
                // text-decoration:none;
            }
        }
    }
    /* Twitter */
    .fl_tw1{
        background:#55acee;
        }
    /* Facebook */
    .fl_fb1{
        background:#3b5998;
    }
    /* はてブ */
    .fl_hb1{
        background:#1ba5dc;
        span {
            &::before {
                content: '';
                display: inline-block;
                width: rem(20);
                height: rem(17);
                background: url("../images/icon_hateb.svg") center/cover no-repeat;
                margin: 0 rem(10) 0 0;
                vertical-align: text-top;
            }
        }
    }
    /* LINE */
    .fl_li1{
        background:#00c300;
    }
    /* アイコンボタンの位置調整 */
    .sns-list{
        padding:0!important;
        list-style:none!important;
        display:flex;
        flex-flow:row wrap;
        li{
        flex:0 0 50%;
        text-align:center!important;
        }
    }
}
