@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;
@use "../setting/font" as *;

//snsシェアボタン
// ▼追従型のsnsシェアボタン
.sns-btn-absolute {
  position: fixed;
  left: calc((100vw - $width-base) / 2 - rem(80));
  top: rem(440);
  z-index: 6;
  @include mq(xl) {
      left: 0;
  }
  @include mq(l) {
      display: none;
  }
  /* ボタン全体 */
  .flowbtn1{
    border-radius:50%;
    position:relative;
    display:inline-block;
    width: rem(40);
    height: rem(40);
    font-size: rem(24);
    color:#fff!important;
    text-decoration:none;
    transition:0.8s;
    i {
        position:absolute;
        top: 50%;
        left: 50%;
        -ms-transform:translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
    }
    &:hover {
        transform:translateY(-5px);
    }
  }
  .sns-list{
    padding:0!important;
    list-style:none!important;
    li {
      text-align:center !important;
      margin: rem(10);
    }
  }
  /* Twitter */
  .fl_tw1{
    background: #55ACEE;
  }

  /* Facebook */
  .fl_fb1{
    background: #3B5998;
  }
  /* はてブ */
  .fl_hb1{
    background: #1BA5DC;
    font-size:25px;
    img {
      width: rem(20);
      height: rem(17);
      margin: 0 auto rem(5);
    }
  }
  /* LINE */
  .fl_li1{
    background: #00C300;
  }
}
// ▼コンテンツ中のsnsシェアボタン
.sns-btn-flex {
  margin-top: rem(40);
  .text-j_s {
    padding-bottom: rem(10);
  }
  /* ボタン全体 */
  .flowbtn2{
    font-family: $font-en;
    border-radius: 5px;
    position:relative;
    display:inline-block;
    width: calc(100% - 10px);
    font-size: 20px;
    color: #fff!important;
    text-decoration: none;
    margin-bottom: 10px;
    padding: rem(10) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      font-size: rem(24);
      font-weight: 500;
      position:relative;
      transition:0.8s;
      display: inline-block;
      @include mq(s) {
        font-size: rem(20);
      }
    }
    i {
      font-size: rem(22);
      margin-right: rem(10);
    }

    /* アイコンボタンホバー時 */
    &:hover {
      span {
        // transform: rotateX(360deg);
        // text-decoration:none;
      }
    }
  }
  /* Twitter */
  .fl_tw1{
    background:#55ACEE;
  }
  /* Facebook */
  .fl_fb1{
    background:#3B5998;
  }
  /* はてブ */
  .fl_hb1{
    background:#1BA5DC;
    span {
      &::before {
        content: '';
        display: inline-block;
        width: rem(20);
        height: rem(17);
        background: url("../images/icon_hateb.svg") center/cover no-repeat;
        margin: 0 rem(10) 0 0;
        vertical-align: baseline;
      }
    }
  }
  /* LINE */
  .fl_li1{
    background:#00C300;
  }
  /* アイコンボタンの位置調整 */
  .sns-list{
    padding:0!important;
    list-style:none!important;
    display:flex;
    flex-flow:row wrap;
    li{
      flex:0 0 50%;
      text-align:center!important;
    }
  }
}
