@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;

//▼▼▼ブログ,アーカイブ▼▼▼
.blog,
.search,
.category {
  .page-top-view {
    .page-top-view__inner {
    }
  }
  .page-section-01 {
    .page-section-01__inner {
      //絞り込み結果表示
      .search-results-box {
      }
      //記事一覧表示
      .list-boxes {
      }
    }
  }
}
//▼▼▼ブログ▼▼▼
.blog {
  //カテゴリー「すべて」をON！
  .category-box {
   .category-box__list {
   }
  }
}
//▼▼▼アーカイブ共通▼▼▼
.archive {
  &.category-news {
    //カテゴリー「備忘録」をON！
    .category-box {
      .category-box__list {
        li {
          &:nth-child(2) {
            a {
              color: $color-blue-02;
              border-bottom: solid 2px $color-blue-02;
            }
          }
        }
      }
    }
  }
}
//▼▼▼404▼▼▼
.error404 {
  .page-top-view {
    .page-top-view__inner {
      .title__outer {
        .title-j_l {
        }
      }
    }
  }
  .page-section-01 {
    .page-section-01__inner {
      img {
        display: block;
        width: 80%;
        height: auto;
        margin: 40px auto 0;
      }
    }
  }
}