@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../mixin/breakpoint" as *;
@use "../mixin/animation" as *;
//▼▼▼▼免責事項▼▼▼▼
.disclaimer {
  .page-top-view {
    .page-top-view__inner {
      .title__outer {
        .title_theme_l {
        }
      }
    }
  }
  .page-section-01 {
    .page-section-01__inner {
      .contents-box {
        padding: rem(40) 0 rem(20);
        .title_theme_m {
          border-bottom: 1px solid $color-gray;
          margin-bottom: rem(10);
          padding-bottom: rem(10);
          color: $color-turquoise-03;
        }
        .text_theme_s {

        }
        ul {
          margin-top: rem(15);
          &.list-none {
            list-style-type: none;
          }
          &.list-disc {
            list-style-position: inside;
          }
          li {
            margin-bottom: rem(10);
          }
        }
        .info-area {
          margin-top: rem(20);

          dl {
            display: flex;
            flex-wrap: wrap;
            width: 40%;
            @include mq(l) {
              width: 60%;
            }
            @include mq(s) {
              width: 95%;
            }
            border-top: solid 1px $color-turquoise-04;
            dt {
              width: 25%;
              padding: rem(15) 0 rem(15) rem(20);
              border-bottom: solid 1px $color-turquoise-04;
            }
            dd {
              width: 75%;
              padding: rem(15) 0 rem(15) rem(20);
              border-bottom: solid 1px $color-turquoise-04;
            }
          }
        }
      }

    }
  }
}
