@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;
@use "../mixin/animation" as *;
//▼▼▼▼プロフィール▼▼▼▼
.service {
  .page-top-view {
    .page-top-view__inner {
    }
  }
  .page-section-01 {
    .page-section-01__inner {
      .service-menu__list{
        margin-top: rem(50);
      }
    }
  }
  .page-section-02 {
    .page-section-02__inner {
      padding-top: rem(20);
      .service-reason__list{
        margin-top: rem(50);
      }
    }
  }
  .page-section-03 {
    .page-section-03__inner {
      width: 100%;
    }
  }
  .page-section-04 {
    .page-section-04__inner {
      width: 100%;
    }
  }
  .page-section-05 {
    .page-section-05__inner {
    }
  }
}
