@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;
@use "../mixin/animation" as *;
//■■■下層ページ//
//▼▼▼▼共通▼▼▼▼

// ヘッダー分の余白
.main-area{
  padding-top: rem(80);
  @include mq(l) {
    padding-top: rem(60);
  }
}
//トップ見出し
.page-top-view {
  width: 100%;
  padding: 0;
  position: relative;
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba($color: $color-blue-01, $alpha: 0.8);
    position: absolute;
    top: 0;
    left: 0;
  }
  .page-top-view__inner {
    position: relative;
    width: $width-base;
    padding: rem(100) 0;
    margin: 0 auto;
    @include mq(xl) {
      width: 90%;
      padding: rem(50) 0;
    }
    h2{
      margin-bottom: 0;
    }
  }
  &.bg-about-us {
    background: url("../images/img_about-us_title-bg-01.webp") center center/cover no-repeat;
  }
  &.bg-service {
    background: url("../images/img_about-us_title-bg-01.webp") center center/cover no-repeat;
  }
  &.bg-news {
    background: url("../images/img_about-us_title-bg-01.webp") center center/cover no-repeat;
  }
  &.bg-blog {
    background: url("../images/img_about-us_title-bg-01.webp") center center/cover no-repeat;
  }
  &.bg-contact {
    background: url("../images/img_about-us_title-bg-01.webp") center center/cover no-repeat;
  }
  &.bg-privacypolicy {
    background: url("../images/img_about-us_title-bg-01.webp") center center/cover no-repeat;
  }
  .title__outer{
    color: $color-white;
    span{
      display: block;
      margin-bottom: 0;
    }
  }
}
//セクション
.page-section {
  width: 100%;
  height: auto;
  .page-section__inner {
    width: $width-base;
    height: auto;
    padding: rem(30) 0 rem(100);
    margin: 0 auto;
    @include mq(xl) {
      width: 90%;
    }
    @include mq(m) {
      padding: rem(40) 0;
    }
    &.section_inner-small{
      width: $width-small;
      height: auto;
      padding: rem(30) 0 rem(100);
      margin: 0 auto;
      @include mq(xl) {
        width: 90%;
      }
      @include mq(m) {
        padding: rem(40) 0;
      }
    }
    &.section__inner-left-side {
      width: calc(($width-base + (100vw - $width-base) / 2)  + rem(30));
      margin-right: auto;
      margin-left: 0;
      @include mq(xl) {
        width: calc((90vw + (100vw - 90vw) / 2)  + rem(30));
      }
      @include mq(s) {
        width: 100%;
        padding: rem(100) 5% rem(100);
      }
    }
    &.section__inner-right-side {
      width: calc(($width-base + (100vw - $width-base) / 2)  + rem(30));
      margin-left: auto;
      margin-right: 0;
      @include mq(xl) {
        width: calc((90vw + (100vw - 90vw) / 2)  + rem(30));
      }
      @include mq(s) {
        width: 100%;
        padding: rem(100) 5% rem(100);
      }
    }
  }
  &.page-section-01 {
    .page-section__inner {
      padding-top: rem(20);
      @include mq(m) {
        padding-top: rem(40);
      }
    }
  }
  &.last-section {
    .page-section__inner {
      padding-bottom: rem(150);
      @include mq(m) {
        padding-bottom: rem(90);
      }
    }
  }
}
