@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;
.single {
  .page-top-view {
    .page-top-view__inner {
    }
  }
  //▼▼▼▼▼共通▼▼▼▼▼
  .article-contents-area {
    margin-top: rem(30);
    img {
      border-radius: 10px;
    }
    h2 {
      margin-bottom: rem(35);
      margin-top: rem(50);
      font-size: rem(23);
      @include mq(m) {
        font-size: rem(20);
      }
    }
    h3 {
      font-size: rem(19);
      margin-bottom: rem(15);
    }
    p {
      padding: 0 0 rem(25) 0 !important;
      @include mq(m) {
        font-size: rem(14);
      }
    }
    figure {
      padding: 0 0 rem(20) 0;
    }
    figcaption {
      text-align: center;
      @include mq(m) {
        font-size: rem(13);
      }
    }
    ul,
    ol {
      list-style-position: inside;
      padding-bottom: rem(20);
      @include mq(m) {
        font-size: rem(14);
      }
    }
    li {
      list-style-type: inherit;
      &:not(:first-child) {
        margin-top: rem(10);
      }
    }
    .wp-block-columns {
      @include mq(m) {
        gap: 0 !important;
      }
    }
    .has-marker-red-color{
      color: $color-red-01;
    }
    .has-marker-orange-color{
      color: $color-orange-01;
    }
    .has-marker-blue-color{
      color: $color-blue-01;
    }
    
  }

  // ボタンエリア
  .btn-area{
    margin: rem(80) 0 0;
  }

  //▼▼▼▼▼ブログ▼▼▼▼▼
  &.single-post {
    .page-top-view {
      .page-top-view__inner {
      }
    }
    .postpage-box {
      .mainbar {
        .page-section {
          background-color: $color-white;
          .page-section__inner {
            .article-area {
              .modified-day,
              .published-day {
                color: $color-darkgray;
                font-weight: 700;
                margin-right: rem(5);
                i {
                  margin-right: rem(2);
                }
              }

              .post-categories {
                display: flex;
                li {
                  margin-right: rem(5);
                  a {
                    color: $color-white;
                    background-color: $color-blue-01;
                    text-decoration: none;
                    display: inline-block;
                    padding: rem(2) rem(8);
                    border-radius: 5px;
                    font-size: rem(11);
                    font-weight: 700;
                  }
                }
              }
              // 記事タイトル
              >h3 {
                padding: 0;
                margin: 0;
              }

              // アイキャッチ画像
              >img {
                display: block;
                width: 100%;
                height: auto;
                border-radius: 10px;
                margin: rem(30) 0 rem(70);
                @include mq(m) {
                  margin: rem(15) 0 rem(30);
                }
              }
              .article-contents-area {
                >h2 {
                  &.wp-block-heading {
                    margin-top: rem(40);
                    background-color: $color-blue-01;
                    color: $color-white;
                    padding: rem(10) rem(20);
                    border-radius: 5px;
                    position: relative;
                  }
                }
                >h3 {
                  &.wp-block-heading {
                    margin-top: rem(30);
                    background-color: $color-gray-02;
                    border-left: 6px solid $color-blue-01;
                    color: $color-black-main;
                    padding: rem(10) rem(20);
                    position: relative;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // ▼▼▼▼▼新着情報▼▼▼▼▼
  &.single-news {
    .page-top-view {
      .page-top-view__inner {
      }
    }
    .page-section {
      .page-section__inner {
        padding: 0;
        .article-area {
          .modified-day,
          .published-day {
            color: $color-darkgray;
            font-weight: 700;
            margin-right: rem(5);
            i {
              margin-right: rem(2);
            }
          }

          .post-categories {
            display: flex;
            li {
              margin-right: rem(5);
              a {
                color: $color-white;
                background-color: $color-blue-01;
                text-decoration: none;
                display: inline-block;
                padding: rem(2) rem(8);
                border-radius: 5px;
                font-size: rem(11);
                font-weight: 700;
              }
            }
          }
          // 記事タイトル
          >h3 {
            padding: 0;
            margin: 0;
          }

          // アイキャッチ画像
          >img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin: rem(30) 0 rem(70);
            @include mq(m) {
              margin: rem(15) 0 rem(30);
            }
          }
          .article-contents-area {
            >h2 {
              &.wp-block-heading {
                margin-top: rem(40);
                background-color: $color-blue-01;
                color: $color-white;
                padding: rem(10) rem(20);
                border-radius: 5px;
                position: relative;
              }
            }
            >h3 {
              &.wp-block-heading {
                margin-top: rem(30);
                background-color: $color-gray-02;
                border-left: 6px solid $color-blue-01;
                color: $color-black-main;
                padding: rem(10) rem(20);
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}
