@charset 'UTF-8';
@use "../foundation/base" as *;
@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/section" as *;
@use "../mixin/breakpoint" as *;
@use "../mixin/animation" as *;

// ■■■■■■トップページ■■■■■■■
// ▼▼共通
.top-section {
  width: 100%;
  height: auto;
  &.section-gray-02 {
    background-color: $color-gray-02;
  }
  &.section-blue-03 {
    background-color: $color-blue-03;
  }
  .top-section__inner {
    width: $width-base;
    height: auto;
    margin: 0 auto;
    padding: rem(90) 0 rem(120);
    @include mq(xl) {
      width: 90%;
    }
    @include mq(m) {
      padding: rem(40) 0 rem(90);
    }
    &.section-white {
      background-color: $color-white;
    }
    &.section__inner-left-side {
      width: calc(($width-base + (100vw - $width-base) / 2)  + rem(30));
      margin-right: auto;
      margin-left: 0;
      padding-right: rem(30);
      @include mq(xl) {
        width: calc((90vw + (100vw - 90vw) / 2)  + rem(30));
        padding-left: calc((100vw - 90vw) / 2);
      }
      @include mq(l) {
        width: 100%;
        margin:0;
        padding: rem(20) 5% rem(90);
      }
      @include mq(m) {
        width: 100%;
        margin:0;
        padding: rem(20) 5% rem(90);
      }
    }
    &.section__inner-up{
      margin: rem(-40) auto 0;
      position: relative;
      @include mq(m) {
        margin: 0 auto;
      }
    }
  }
  &.last-section {
    .top-section__inner{
      padding-bottom: rem(150);
      @include mq(s) {
        padding-bottom: rem(90);
      }
    }
  }
}

//トップページ固有
.home {
  .top-section-01 {
    .top-section-01__inner {
      padding: rem(40);
      border-radius: 10px;
      width: 80%;
      @include mq(m) {
        border-radius: 0;
        width: 100%;
        padding: rem(40) 5% rem(90);
        margin: 0 auto;
      }
      .title_twotone{
        margin-top: 0;
      }
      .btn-area{
        text-align: left;
        &.pc-block{
          display: block;
          @include mq(m) {
            display: none;
          }
        }
        &.sp-block{
          display: none;
          @include mq(m) {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
  .top-section-02 {
    .top-section-02__inner {
      .title_twotone{
        @include mq(m) {
          text-align: center;
          &::before,
          &::after{
            right: 0;
          }
        }
      }
      .column2{
        .column2__1{
        }
        .column2__2{
          @include mq(m) {
            width: 105%;
            margin-left: calc(50% - 50vw);
          }
          .mask {
            aspect-ratio: 1 / 1;
            border-radius: 0 10px 10px 0;
          }
        }
      }
      .btn-area{
        text-align: left;
        @include mq(m) {
          text-align: center;
        }
      }
    }
  }
  .top-section-03 {
    .top-section-03__inner {
      .column2{
        margin:rem(50) auto;
      }
    }
  }
  .top-section-04 {
    .top-section-04__inner {
      .list-boxes{
        margin:rem(50) auto;
        .list-box {
          width: calc((100% - rem(50)) / 3);
          height: auto;
          @include mq(m) {
            width: calc((90vw - rem(12)) / 2);
          }
          @include mq(s) {
            width: 100%;
          }
        }
      }
      .btn-area{
        margin-bottom: 0;
      }
    }
  }
}

// ▼▼固有▼▼
.top-view {
  width: 100%;
  .top-view__inner {
    padding-left: calc((100vw - 1200px) / 2 );
    height: 100%;
    position: relative;
    background: $color-blue-01;
    padding-bottom: rem(120);
    @include mq(l) {
      padding-top: rem(60);
    }
    @include mq(m) {
      padding-bottom: rem(160);
    }
    .title_top-view{
      position: absolute;
      top: 50%;
      left: rem(230);
      z-index: 2;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      @include mq(xl) {
        left: 15%;
      }
      @include mq(l) {
        left: 5%;
      }
      @include mq(m) {
        top: auto;
        bottom: 10%;
        transform: none;
      }
    }
    .title-e_top-view {
      color: $color-white;
      line-height: 1.8;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
      margin-bottom: rem(40);
      @include mq(m) {
        margin-bottom: rem(20);
      }
    }
    .title-j_top-view {
      color: $color-white;
      line-height: 1.8;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
      @include mq(m) {
        font-size: rem(19);
      }
    }
    .frame-top-view{
      width: 73%;
      margin-left: auto;
      border-radius: 0 0 0 10px;
      overflow: hidden;
      .mask {
        display: block;
        aspect-ratio: 21 / 16;
        border-radius: 0 0 0 10px;
        overflow: hidden;
        position: relative;
        @include mq(m) {
          aspect-ratio: 34 / 52;
        }
        img {
            width: 100%;
            height: 100%;
            max-width: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            object-fit: cover;
        }
      }
    }
  }
}